# Copy this file to `.env` and adjust values

RADIUM_PORT=3000

BASE_URL=http://example.com/
INITIAL_SOURCE_TYPE=webrtc
INITIAL_SOURCE_URL=ws://<IP>:3333/app/stream
ENABLE_CHAT=false
REQUIRE_USERNAME=false
